body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
a{
    text-decoration: none;
    color: inherit;
}

.header{
    width: 100vw;
    height: 250px;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: overline;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    border: solid transparent 1px;
    background-image: url(../images/retro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.navbar1{
    width: 100vw;
    height: 75px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: solid transparent 1px;
     
}

.navbar1_backbutton{
    width: 100vw;
    height: 75px;
    color: black;
    background-color: grey;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid transparent 1px;
}
.navbar1_homebutton{
    width: 100vw;
    height: 75px;
    color: black;
    background-color: grey;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid transparent 1px;
}
 