*{
    box-sizing: border-box;
}

.debug{
    border: 2px solid red;
}
 .flexall{
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}

/* ///////////// effe on hold! 
 .flexcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: orange;

} */

/* .flexwhiteleft{
    width: 100px;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
} 

/////////////effe on hold!
 .flexwhiteright{
    width: 100%;
    height: 100px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexitem{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
} */