.debug{
    border: 2px solid red;
}

.flex{
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.flex1{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    z-index: 1;   
}
.flex2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    z-index: 1;  
}

.flex3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    z-index: 1;  
}
.flex3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    z-index: 1;  
}